html, body, head, * {
    padding: 0;
    margin: 0;
}

p, a, button, label, input {
    font-family: "Onest", sans-serif;
    text-decoration: none;
}

.login-nav {
    background-color: #FAFAFA;
    border: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.nav-title,
.footer-title {
    display: flex;
    width: 50%;
    align-items: center;
}

.footer-title p {
    padding-top: 6px;
}

.nav-title img,
.footer-title img {
    width: 51px;
    height: 30px;
}

.nav-link {
    width: 50%;
    margin-left: 20%;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
}

.login-nav #register,
.login-nav #explore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: medium;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    height: 48px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.login-nav #register {
    color: #000000;
    width: 84px;
}

.login-nav #explore {
    color: #FFFFFF;
    background-color: #000000;
    width: 172px;
}

.login-nav #register:hover,
.login-nav #explore:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Slightly deeper shadow on hover */
}

.login-form {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-self: center;
    display: flex;
    flex-direction: column;;
    border-radius: 12px;
    border: 1px solid #E3E3E3;
    width: 520px;
    height: 434px;
}

.login-form #title {
    font-size: 28px;
    padding-left: 16px;
    padding-top: 17px;
}

.login-form-button {
    justify-content: center;
    display: flex;
}

.login-form-button button {
    width: 484px;
    height: 48px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;
}

.login-form-button button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.login-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    gap: 30px;
    height: 260px;
    align-items: center;
}

.login-username,
.login-password {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-username input,
.login-password input {
    width: 468px;
    height: 55px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
    align-items: center;
    border: 1px solid #E3E3E3;
}

.login-username input:focus,
.login-password input:focus,
.feedback-input input:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-color: #666666;
    outline: none
}


.login-form #guide {
    margin-top: 25px;
    padding-left: 17px;
    color: #666666;
}

.login-form #guide a {
    color: #000000;
    font-weight: 500;
}

.login-footer {
    height: 250px;
    padding-left: 200px;
    border: 1px solid #E3E3E3;
}

.footer-container {
    display: flex;
    padding-top: 50px;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.footer-left-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 30%;
}

.footer-left #license {
    display: flex;
    font-size: 16px;
    margin-left: 13px;
}

.footer-left #slogan {
    display: flex;
    color: #666666;
    font-size: 16px;
    margin-left: 13px;
}

.footer-right {
    border: 1px solid #E3E3E3;
    padding: 16px;
    gap: 10px;
    width: 604px;
    height: 168pxpx;
}

.footer-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.feedback-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feedback-header p {
    color: #666666;
}

.feedback-header label {
    font-size: 18px;
    font-weight: 700;
}

.feedback-input  {
    display: flex;
    gap: 15px;
}

.feedback-input input {
    border: 1px solid #E3E3E3;
    height: 53px;
    width: 446px;
    padding-left: 16px;
    border-radius: 8px;
    font-size: 16px;
}

.feedback-input button {
    width: 130px;
    height: 53px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;
}

.feedback-input button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}
